html {
    
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  /* white-space: nowrap; */
  user-select: none;
  background-color: #222;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.container > div {
  width: 100%;
  height: 100vh;
  overflow: hidden;

}
/* s3制作 */
.container .sc3 {
  margin: 0;
  padding: 0;
  height: 200vh;
  width: 100%;
  overflow-x: hidden;
  background-color: transparent;
  display: flex;
}

.background {
        background-image: url(../imgs/mountain.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        height: 200vh;
        font: 800 39rem "";
        line-height: 120vh;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        /* z-index: 2; */
        text-align: center;
        overflow: hidden;
}
.background::before {
  content: "";
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: inherit;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index:-99;
}


.sc1 {
  position: relative;
  background-color: #000;
}

#s1video{
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  z-index: 0;
}

.sc1 > img{
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.sc1 p{
  color: whitesmoke;
}

.sc1 .vidtitle{
  font-size: 50px;
  margin: 50px;
}

.sc1 .vidsubtitle{
  position: absolute;
  top: 200px;
  left: 50px;
  color: gray;
  animation: blink 3s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50%{ opacity: 0; }
  100%{ opacity: 1; }
}

.sc1 .vidintro{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  margin: 50px;
}

.sc2 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: rgba(0,0,0,0.7); */
  
}

.light {
  display: flex;
  position: absolute;
  z-index: 3;
  justify-content: center;
  align-items: center;
  /* background-color: darkgreen; */
  width: 70vw;
  height: 40vh;
  transform: translateY(-70%);
  overflow: hidden;
}

.light h1 {
  font-family: Helvetica;
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 8.5rem;
  letter-spacing: 2.5rem;
  position: relative;
  /* animation: spotlight 5s infinite; */
}

.light h1::after {
  content: attr(data-char);
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  /* font-size: 8rem;
    letter-spacing: 2.5rem; */
  -webkit-clip-path: ellipse(100px 100px at 0% 50%);
  clip-path: ellipse(100px 100px at 0% 50%);
  animation: spotlight 4s infinite;
  /* transform: rotate(90deg); */
  background-image: url(../imgs/pll.png);
  /* background-size: 150%; */
  background-position: center center;
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes spotlight {
  0% {
    -webkit-clip-path: ellipse(100px 100px at 0% 50%);
    clip-path: ellipse(100px 100px at 0% 50%);
  }

  50% {
    -webkit-clip-path: ellipse(100px 100px at 100% 50%);
    clip-path: ellipse(100px 100px at 100% 50%);
  }

  100% {
    -webkit-clip-path: ellipse(100px 100px at 0% 50%);
    clip-path: ellipse(100px 100px at 0% 50%);
  }
}


/* 制作点击的card11 */
.runbox {
    display: flex;
    position: absolute;
    width: 100%;
    /* height: 10%; */
    /* left: 50%; */
    top: 50%;
    transform: translateY(-10%);
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.card1 {
    position: relative;
    width: 50%;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.card1 .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    clip-path: circle(120px at center);
    transition: .5s;
    border-radius: 20px;
    overflow: hidden;
}

.card1:hover .circle {
    background-color: #103252;
    clip-path: circle(100% at center);
}


.card1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 260px;
    transition: .5s;
}

.card1:hover img {
    left: 75%;
    height: 300px;
    filter: drop-shadow(0 0 4px #fff) drop-shadow(0 0 4px #fff);
}

.card1 .content {
    position: relative;
    width: 40%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}


.card1:hover .content {
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card1 .content h2 {
    color: #fff;
    font-size: 2em;
}

.card1 .content p {
    color: #fff;
    line-height: 1.8;
}

.card1 .content a {
    display: inline-block;
    background: #fff;
    color: #103252;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 10px;
}





/*card2*/
.card2 {
    position: relative;
    width: 50%;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.card2 .circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:transparent;
    clip-path: circle(120px at center);
    transition: .5s;
    border-radius: 20px;
    overflow: hidden;
}

.card2:hover .circle {
    background-color: rosybrown;
    clip-path: circle(100% at center);
}


.card2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 350px;
    transition: .5s;
}

.card2:hover img {
    left: 25%;
    top: 50%;
    height: 400px;
    width: 400px;
    filter: drop-shadow(0 0 4px #fff) drop-shadow(0 0 4px #fff);
}

.card2 .content {
    position: relative;
    width: 40%;
    left: 50%;
    padding: 20px 20px 20px 40px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}


.card2:hover .content {
    top: 0;
    right: 0;
    opacity: 1;
    visibility: visible;
}

.card2 .content h2 {
    color: #fff;
    font-size: 2em;
}

.card2 .content p {
    color: #fff;
    line-height: 1.8;
}

.card2 .content a {
    display: inline-block;
    background: #fff;
    color: #0165c3;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 10px;
}


#s2video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
    opacity: 0.5;
}

#s2video:hover {
    opacity: 1;
}













